In [1]:
import pandas as pd

#Loading data
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [2]:
test_id=test.row_id

all_data=pd.concat([train,test])
all_data

      row_id        date  country       store         product  num_sold
0          0  2015-01-01  Finland  KaggleMart      Kaggle Mug     329.0
1          1  2015-01-01  Finland  KaggleMart      Kaggle Hat     520.0
2          2  2015-01-01  Finland  KaggleMart  Kaggle Sticker     146.0
3          3  2015-01-01  Finland  KaggleRama      Kaggle Mug     572.0
4          4  2015-01-01  Finland  KaggleRama      Kaggle Hat     911.0
...      ...         ...      ...         ...             ...       ...
6565   32863  2019-12-31   Sweden  KaggleMart      Kaggle Hat       NaN
6566   32864  2019-12-31   Sweden  KaggleMart  Kaggle Sticker       NaN
6567   32865  2019-12-31   Sweden  KaggleRama      Kaggle Mug       NaN
6568   32866  2019-12-31   Sweden  KaggleRama      Kaggle Hat       NaN
6569   32867  2019-12-31   Sweden  KaggleRama  Kaggle Sticker       NaN

[32868 rows x 6 columns]

In [3]:
#converting date into usable data

all_data['date'] = pd.to_datetime(all_data['date'])
all_data['year'] = all_data['date'].dt.year
all_data['month'] = all_data['date'].dt.month
all_data['day'] = all_data['date'].dt.day
all_data['dayofweek'] = all_data['date'].dt.dayofweek
all_data['dayofmonth'] = all_data['date'].dt.days_in_month
all_data['dayofyear'] = all_data['date'].dt.dayofyear
all_data['weekday'] = all_data['date'].dt.weekday
all_data['weekofyear'] = all_data['date'].dt.isocalendar().week

all_data.drop(columns = ['num_sold', 'date', 'row_id'], inplace = True)

In [4]:
#encoding catagorical value

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in ['country', 'product', 'store']:
    all_data[col] = le.fit_transform(all_data[col])

In [5]:
X_train = all_data[:len(train)]
X_test = all_data[len(train):]
y_train = train['num_sold']

In [6]:
#implementing random forest model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(X_train, y_train)
preds = model.predict(X_test)

In [7]:
output=pd.DataFrame({'row_id': test_id, 'num_sold': preds})
output.to_csv('submission2.csv',index=False)